.about-bg-wrapper {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 245px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.about-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 24px;
  }
}

.about-bg-img {
  margin-bottom: 22px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.about-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    max-width: 629px;
  }
}

.about-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #4b3b36;
  word-break: break-word;

  @include media(desktop) {
    margin-bottom: 20px;
  }
}

.about-span {
  font-weight: 700;
}

.about-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    left: 80px;
    bottom: 140px;
    z-index: -1;
  }
}
