<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <h2 class="section-title about-title">About the Game</h2>
    <div class="container about-container">
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="413"
          height="235"
        />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="375"
          height="213"
        />
        <img
          class="about-bg-img"
          src="./img/about/about-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="213"
        />
      </picture>
      <div class="about-content-wrapper">
        <p class="about-text">
          <span class="about-span">Welcome to Art of Blast:</span> Puzzle &
          Friends, a delightful journey through a world of colors and
          creativity! Match colorful blocks, solve lively puzzles, and join
          adorable characters on a mission to bring life and art back to the
          world. Relax, strategize, and blast your way to victory!
        </p>
        <img
          class="about-img"
          src="./img/about/about-img-desk.png"
          alt="Screenshot of the game"
          width="305"
          height="203"
        />
      </div>
    </div>
  </div>
</section>
